@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


body {
    background-color: #212529;
    font-family: 'Inter', sans-serif;
}
h1, p {
    color: whitesmoke;
}

#logo-text {
    font-size: 100px;
}

.div.center-info {
    height: 15em;
    position: relative }

div.center-info h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

div.center-info p {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}