@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


body {
    background-color: #212529;
    font-family: 'Inter', sans-serif;
}
h1, p, h2, h3, h4, h5 {
    color: whitesmoke;
}

.avatar {
    border-radius: 50%; 
    width: 250px;
    height: 250px;
}

.white-text {
    color: white;
}

p {
    color: white;
}

.form-input {
    color: white;
    background-color: red;
}

#logo-text {
    font-size: 100px;
}

.div.center-info {
    height: 15em;
    position: relative }

div.center-info h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

div.center-info p {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.flex {
    display: flex;
    justify-content: space-between;
 }

 .text_white h4 {
    color: white;
  }
  
  .text_black h5 {
    color:black;
  }
  
  .text_white p {
    color: white;
  }
  
  .text_black p {
    color:black;
  }


  .lines {
    margin-bottom: -20px;
  }

  .custom-link {
    text-decoration: none; 
    color: #B2D4E9;
  }

  .custom-link:hover {
    color: #B2D4E9;
    text-decoration: underline;
  }


  .centred-block {
    text-align: center;
    margin: 0 auto;
  }