{% extends 'base.html' %}
{% block title %}Изменить профиль{% endblock %}
{% block content %}
<div class="container">
    <h1>Изменение профиля</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <label for="exampleFormControlInput1" class="form-label white-text">{{ field.label }}</label>
            {{ field }}
            <br>
        {% endfor %}
        <br>
        <button class="btn btn-success">Отправить</button>
    </form>
    
</div>

{% endblock %}