{% extends 'base.html' %}
{% block title %}Изменить профиль{% endblock %}
{% block content %}
<div class="container">
    <h1>Изменение профиля</h1>
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <label for="exampleFormControlInput1" class="form-label white-text">{{ field.label }}</label>
            {{ field }}
            <br>
        {% endfor %}
        {% if interest %}
            <h1>Интересы</h1>
        {% endif %}
        {% for interest in interests %}
        <div class="d-inline-block">
            <a href="{% url 'delete_interest' interest_id=interest.id %}"><h5>{{ interest.title }} {% if interest != interests.last %}●{% endif %}</h5></a>
        </div>
        {% endfor %}
        <br>
        <br>
        <button class="btn btn-success">Отправить</button>
    </form>
    
</div>

{% endblock %}