{% extends 'base.html' %}
{% block title %}Изменить профиль{% endblock %}
{% block content %}
<div class="container">
    <h1>Изменение профиля</h1>
    <form action="">
        <label for="exampleFormControlInput1" class="form-label white-text"></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Имя">
        <label for="formFile" class="form-label white-text">Аватарка</label>
        <input class="form-control" type="file" id="formFile">
    </form>
</div>
{% endblock %}