{% extends 'base.html' %}
{% block title %}Лента{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Лента</h1>
    <hr class="border-2 border-top">
    <div class="container">
        <div class="container">
            <div class="container">
                <div class="container">
                    {% for post in all_posts.object_list %}
                      {% include 'post.html' %}
                    {% endfor %}
                </div>
            </div>
            
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item {% if all_posts.has_previous %}{% else %}disabled{% endif %}">
                    <a class="page-link" href="{% if all_posts.has_previous %}{% url 'feed' index_page=all_posts.previous_page_number %}{% endif %}" tabindex="-1" aria-disabled="true">⬅️</a>
                  </li>
                  <li class="page-item {% if all_posts.has_next %}{% else %}disabled{% endif %}">
                    <a class="page-link" href="{% if all_posts.has_next %}{% url 'feed' index_page=all_posts.next_page_number %}{% endif %}">➡️</a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</div>

{% endblock %}