{% extends 'base.html' %}
{% block title %}Mood{% endblock %}
{% block content %}
{% load static %}
{% if request.user.is_authenticated %}
<div class="container">
    <h1>{{ welcome_msg }}, {{ request.user.username }}</h1>
</div>
<hr style="color: white;">
<br>
<div class="container">
    <div class="row">
        <div class="col-sm">
        <h4>Топ 5 самых популярных постов</h4>
        {% for post in top_popular_posts %}
            {% include 'post.html' %}
        {% endfor %}
        </div>
        <div class="col-sm">
            <h4>Админы <img src="{% static 'admin.png' %}" alt="" class="admin-icon"></h4>
            {% for user in admins %}
                <a href="{% url 'profile' username=user.username %}" class="custom-link"><h1>{{ user.username }}</h1></a>
            {% endfor %}
            <hr>
            <h4>Топ 5 самых популярных пользователей</h4>
            {% for profile in top_popular_users %}
                <a href="{% url 'profile' username=profile.0.user.username %}" class="custom-link"><h1>{{ profile.0.user.username }}</h1></a>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% else %}
    <div class="center-info">
        <center>
            <h1 id="logo-text">Mood<br></h1>
            <p>Социальная сеть для твоего настроения :)</p>
        </center>
    </div>
{% endif %}
{% endblock %}