{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<section class="vh-50">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-75">
      <div class="col-lg-12 col-xl-11">
          <div class="car-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 text-white">Авторизация</p>
                
                <form class="mx-1 mx-md-4" action="" method="POST">
                  {% csrf_token %}
                  <h6 style="color: #C12472;">{{ form.non_field_errors }}</h6>
                  {% for field in form %}
                    <center>
                    <h5 style="color: white;">{{ field.label }}</h5>
                    {{ field }}
                    <h5>{{ field.errors }}</h5>
                    </center>
                    <br>
                  {% endfor %}
                  <center><button type="submit" class="btn btn-primary btn-lg">Войти</button></center>
                </form>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}