{% extends 'base.html' %}
{% block title %}Mood | {{ user.username }}{% endblock %}
{% block content %}
{% load static %}
<div class="content container mx-5">
    <div class="row" id="myrow">
          <div class="col-md">
            <div class="col-xs-7">
            <div class="pb-4">
                {% if profile %}
                  {% if profile.avatar %}
                      <img src="{{ profile.avatar.url }}" alt="" class="rounded-circle avatar" data-holder-rendered="true">
                  {% endif %}
                {% endif %}
            </div>
            </div>
            <h2 class="pb-2"><b>
                {% if profile.first_name %}
                {% if profile.surname %}
                  {{ profile.first_name }} {{ profile.surname }}
                {% else %}
                  {{ profile.first_name }}
                {% endif %}
              {% else %}
                Anonymous
              {% endif %}
            </b></h2>
            <h4 class="pb-3">@{{ user.username }}</h4>
            <div class="row mx-0">
              <div class="p-2">
                {% if request.user.username == user.username %}
                  <form action="{% url 'edit_profile' username=request.user.username %}">
                      <button class="btn btn-secondary">Изменить профиль</button>
                  </form>
                {% endif %}
              </div>
              <div class="p-2"><h5></h5></div>
            </div>
          </div>

          <div class="col ml-auto">
            <div class="pb-3"><h1><b>Информация о пользователе</b></h1></div>
            <div class="row mx-auto" style="width: 800px;">
              <div class="card" style="width: 18rem; background-color: #212529; border: 0px;">
                <div class="card-body">
                  <p class="card-text">Последний раз заходил <br><b>{% if user.last_login %}{{ user.last_login }}{% else %}N/A{% endif %}</b></p>
                  <p class="card-text">Дата создания аккаунта <br><b>{{ user.date_joined }}</b></p>
                  {% if profile.vk_social_link %}
                    <a href="{{ profile.vk_social_link }}"><img src="{% static 'images/vk.png' %}" style="width: 64px; height:64px;"></a>
                  {% endif %}
                </div>
              </div>
              <hr class="my-4" style="color: white;">
                <div class="col ml-auto">
                <h1><b>Посты</b></h1>
                {% if post_form %}
                  <form action="/add_post/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in post_form %}
                      {{ field }}
                      <br>
                    {% endfor %}
                    <br>
                    <button class="btn btn-success" type="submit">Отправить</button>
                  </form>
                {% endif %}
                <br>
                {% for post in posts %}
                  <div class="card" style="width: 18rem; background-color: {% if post.type_mood %}black;{% else %}white;{% endif %}">
                    <div class="card-body">
                      <h5>{{ post.text }}</h5>
                    </div>
                  </div>
                  <br>
                {% endfor %}
                </div>
      
            </div>
          </div>
        </div>
      </div>
    </div>
  
      
  </div>
{% endblock %}